/* primer esquema de colores */
$white: #FFF;
$platinum: #E8EBE4;
$gray: #BEC1BB;

/* segundo esquema de colores*/
$blue-bell: #A491D2;
$soap: #CDC3E6;
$pale-lavander: #D4DCFF;

/* tercer esquema de colores*/
$dark-jungle: #1B1F21;
$outer-space: #444749;
$old-silver: #828485;

/*cuarto esquema de colores*/
$flame: #E4572E;
$pastel-pink: #F2B2A0;
$blue-sky: #00c2cb;

/* font family */
$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;

/*font weight */
$regular: 400;
$bold: 700;

/* font sizes */
$x-large: 45px;
$large: 28px;
$medium: 16px;
$small: 14px;
$x-small: 10px;
